<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="postmaster@gobiding.com">
        <network host="smtp.mxhichina.com" userName="postmaster@gobiding.com" password="19870609040223Yu"></network>
      </smtp>
    </mailSettings>
  </system.net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  <appSettings>
    <!-- 连接字符串是否加密 -->
    <add key="ConStringEncrypt" value="false" />
    <!-- 数据库连接字符串,（如果采用加密方式，上面一项要设置为true；加密工具，可在官方下载，
     如果使用明文这样server=127.0.0.1;database=.....,上面则设置为false。 -->
    <add key="ConnectionString" value="server=118.178.194.107;database=mercury;User Id=sa;Password=198706090402Yu;" />
    <!--<add key="ConnectionString" value="Data Source=.\SQLEXPRESS2012;Initial Catalog=Mercury;Integrated Security=True" />-->
    <!--<add key="ConnectionString" value="data source=211.144.86.211,1433;User ID=kobeliu;pwd=Pass@word;Initial Catalog=kobeliu"/>-->
    <!--<add key="ConnectionString" value="server=10.10.1.51;database=OneGift;uid=sa;pwd=ocgs;Max Pool Size = 512;" />-->
    <!-- Maticsoft.Accounts权限角色管理模块连接字符串-->
    <add key="ConnectionStringAccounts" value="server=118.178.194.107;database=mercury;User Id=sa;Password=198706090402Yu;" />
    <!--<add key="ConnectionStringAccounts" value="server=10.10.1.51;database=OneGift;uid=sa;pwd=ocgs;Max Pool Size = 512;"/>-->
    <!--其它模块连接字符串，可以不断增加以便同一个项目支持连接多个数据库。如果没有，可以删除该行-->
    <!--<add key="ConnectionString2" value="data source=211.144.86.211,1433;User ID=kobeliu;pwd=Pass@word;Initial Catalog=kobeliu"/>-->
    <add key="ConnectionString2" value="server=118.178.194.107;database=mercury;User Id=sa;Password=198706090402Yu;" />
    <!--数据访问层程序集名称 -->
    <add key="DAL" value="Ocgs.OneGift.SQLServerDAL" />
    <add key="ModelCache" value="30" />

  </appSettings>
</configuration>
